@{
    ViewData["Title"] = "Historial";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Muy Pronto podras ver un historial de los numeros insertados en conjunto a estos invertidos</p>
</div>
